*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #ffff;
    --main-color: #ffab01;
    --big-font: 80px;
    --h2-font: 48px;
    --p-font: 16px; 
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background: transparent;
    padding: 2% 10%;
}
.logo{
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
header .menu_list{
    display: flex;
    list-style: none;
    float: right;
}
.menu_list li{
    text-decoration: none;
}
.menu_list a{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 20px;
    transition: all .50s ease;
}
