* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-color: #333333;
    --second-bg-color: #282828;
    --text-color: #ffff;
    --main-color: #ffab01;
    --h2-font: 40px;
    --p-font: 16px;
}

h2 {
    font-size: var(--h2-font);
    letter-spacing: 1.5px;
}

h3 {
    font-size: 28px;
}

p {
    font-weight: 200;
}

body {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    padding: 1% 10%;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 1000;
    border-bottom: 1px solid var(--bg-color);
    box-shadow: 0 0 5px var(--second-bg-color);
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background: transparent;
}

.logo {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 0 10px var(--main-color);
}

span {
    color: var(--main-color);
}

header .menu_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    float: right;
}

.menu_list li {
    text-decoration: none;
}

.menu_list li a {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;

}

.menu_icon i{
    background-color: var(--main-color);
    color: #ffff;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 3px;
    display: none;
}

.menu_list a:hover {
    color: var(--main-color);
    transition: all .50s ease;
    text-shadow: 0px 0px 10px #ffab01;

}

.home {
    position: relative;
    background-image: url(./images/background\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10%;
}

.home_greeting {
    font-size: 40px;
    padding: 0 0 5% 0;
}
.name h2 {
    font-size: 45px;
}
.home_content p {
    line-height: 1.7;
    letter-spacing: 1px;
    width: 60%;
    padding: 0 0% 5% 0;
    font-weight: 200;
    text-align: left;  
}

.home_content .button, .cta a{
    font-size: 16px;
}

.service-content a{
    font-size: 14px;
}
.form button{
    font-size: 16px;
    border: none;
    cursor: pointer;
      
   }
.button{
    padding: 0 0 10px 0;
}
.home_content .button .hire,
.service-content a, .form button, .cta a{
    background-color: var(--main-color);
    color: white;
    padding: 7px 20px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
}

.home_content .work {
    background: transparent;
    border: 1px solid var(--main-color);
    color: white;
    padding: 7px 20px;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    margin: 0 0 0 20px;
}

.home_content .button a:hover,
.service-content a:hover, .form button:hover, .cta a:hover {
    letter-spacing: 2px;
    box-shadow: 0 0 10px var(--main-color);
    transition: all .40s ease;
    background: transparent;
}


.passion h4 {
    font-size: 25px;
    color: var(--bg-color);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #ffab01;
    position: relative;
}

.passion h4::before {
    color: var(--main-color);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    -webkit-text-stroke: 0px #ffab01;
    border-right: 1px solid white;
    animation: animate 9s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    60%,
    100% {
        width: 100%;
    }

}

.grid-container {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    padding: 8% 10%;

}

.my_img img {
    border-radius: 10%;
    box-shadow: 0px 0px 20px var(--main-color);
    /* outline: 2px solid var(--main-color); */
    width: 100%;
}

.about_me p {
    padding: 40px 0 0 0;
}

.about_me ul li {
    padding: 10px 0 0 0;
    color: var(--main-color);
    letter-spacing: 1.5px;
}

.height {
    height: 5px;
    border: 2px dotted var(--main-color);
    width: 15%;
}

#services,
#projects, #contact {
    background-color: var(--second-bg-color);
}

.services,
.portfolio,
.contact, .skills_section , .cta {
    padding: 8% 10%;
    text-align: center;
}

.services .height,
.skills_section .height,
.portfolio .height,
.contact .height {
    margin: auto;
    width: 10%;
}

.grid-service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
    padding: 5% 0 0 0;
}

.grid-service-box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.grid-service-box {
    text-align: center;
    background-color: var(--bg-color);
    padding: 10% 5%;
    border-radius: 20px;
}
.mobile_icon i{
    padding: 20px 25px;
}
.code_icon i, .cube_icon i{
    padding: 20px;
}
.service-content .service-icon i {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    font-size: 40px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    outline: 4px solid var(--second-bg-color);
    box-shadow: 0 0 10px #ffab01;
}

.service-content h3 {
    padding: 20px 0 0 0;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.service-content p {
    font-size: 16px;
    padding: 0 0 20px 0;
}


.skills_section .main-text {
    text-align: center;
}

.skill_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    gap: 5%;
    padding: 5% 0;
    text-align: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5px 0;
}

.info-bar {
    padding: 2% 2%;

}

.info-bar p {
    font-size: 16px;
    font-weight: 300;
}

.info-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--second-bg-color);
    border-radius: 20px;
    position: relative;
}

.info-bar .bar span {

    height: 100%;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 20px;
    position: absolute;
    left: 0;
}

.html {
    width: 89%;
    animation: html 2s;
}

.css {
    width: 72%;
    animation: css 3s;
}

.java {
    width: 65%;
    animation: java 4s;
}

.jquery {
    width: 70%;
    animation: jquery 5s;
}

.figma {
    width: 80%;
    animation: figma 6s;
}

.wordpress {
    width: 70%;
    animation: wordpress s;
}

.skill_img img{
    width: 100%;
}

/* portfolio */
.grid_portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
    padding: 5% 0 0 0;
}

.portfolio_card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    display: grid;
    grid-template-rows: 1fr auto;
}

.project_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project_img img {
    width: 100%;
    height: 100%;
    transition: .5s ;
}

.portfolio_text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ffab01);
}

.portfolio_card:hover .portfolio_text {
    opacity: 2;
}
.portfolio_text p{
    padding: 0 0 10px 0;
}
.portfolio_text i{
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
  

}
.cta h2{
    font-size: 50px;
    padding: 0 0 20px 0;
}

.contact_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10%;
    text-align: left;
    padding: 5% 0 0;
}

.contact_icon .call,
.email {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}
.contact_left h3, .contact_left p{
padding: 0 0 20px 0;
}

.call i,
.email i {
    text-shadow: 0 0 5px var(--main-color);
    font-size: 30px;
    color: var(--main-color);
}

.call p,
.email p {
    padding: 0 0 0 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;

}

.social_icons {
    padding: 5px 0 0 0;
    display: block;
}
.social_icons p{
    padding: 0 0 2%;
}
.social_icons a i {
    color: white;
    font-size: 28px;
    text-align: center;
    margin: 0 5px;
    padding: 10px 12px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-color: var(--second-bg-color);
    cursor: pointer;
}
.social_icons .fb_icon{
    padding: 10px 15px;
}

.social_icons i:hover {
    box-shadow: 0 0 10px var(--main-color);
    color: var(--main-color);
    font-size: 35px;
}
.form input{
    width: 60%;
}
.form h3{
    padding: 0 0 20px;
}
.form input,.form textarea{
    padding: 10px;
    margin: 2% 0 2% 1%;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
}



footer {
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    align-items: center;
}

footer .footer_content {
    padding: 1% 0;
    display: inline-flex;
    letter-spacing: 1px;
}

.footer_content h4 {
    color: var(--text-color);
}



/* @ key frames */

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }

}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 72%;
    }

}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }

}

@keyframes jquery {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}

@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }

}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}

/* responsive */
@media(max-width: 950px){
    .logo{
        font-size: 25px;
    }

    .menu_list li a {
        font-size: 14px;
    }
}

@media(max-width:768px){
    :root{
        --h2-font: 20px;
        --p-font: 12px;
    }
    p{
        font-size: 12px;
    }
    #about, #skills, #projects{
        padding: 5% 0 5% 0;
    }
    #services, #contact{
        padding: 5% 0 100px 0;
    }
    .menu_icon i{
        display: block;
        transition: all .4s ease;
    }
    

    .menu_list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        background: var(--second-bg-color);
        text-align: center;  
        transition: all 0.4s ease;      

    }
   
    .menu_list li a{
        display: block;
        padding: 0 0 3% 0;
    }
    .menu_list.open {
        top: 80%;
    }
    .home_greeting {
        font-size: 30px;
    }
    .name h2 {
        font-size: 20px;
    }
    .home_content p {
        width: 100%;        
    }
    .passion h4 {
        font-size: 20px;
    }
.cta h2{
    font-size: 25px;
}
.social_icons a i{
    font-size: 16px;
}

.home_content .button .hire, .home_content .button .work{
    font-size: 12px;
    padding: 4px 10px;
}
.call p,
.email p {
    font-size: 12px;
}
.portfolio_text i{
    font-size: 20px;
    padding: 8px;
}
}
@media(max-width:510px){
    .passion h4 {
        font-size: 12px;
    }
    .footer_content{
        font-size: 12px;
    }
}