* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-color: #333333;
    --second-bg-color: #282828;
    --text-color: #ffff;
    --main-color: #ffab01;
    --h2-font: 40px;
    --p-font: 16px;
}

h2 {
    font-size: var(--h2-font);
    letter-spacing: 1.5px;
}
h3{
    font-size: 28px;
}

p {
    font-weight: 200;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 1000;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background: transparent;
    padding: 2% 10%;
}

.logo {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: var(--main-color);
}

header .menu_list {
    display: flex;
    list-style: none;
    float: right;
}

.menu_list li {
    text-decoration: none;
}

.menu_list a {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;

}

.menu_icon {
    background-color: var(--main-color);
    color: #ffff;
    font-size: 25px;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 3px;
    display: none;
}

.menu_list a:hover {
    color: var(--main-color);
    transition: all .50s ease;
    text-shadow: 0px 0px 10px #ffab01;

}

.home {
    position: relative;
    background-image: url(./images/background\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 10%;
}

.home .container {
    width: 50%;
}

.home_greeting {
    font-size: 40px;
    padding: 0 0 40px 0;
}

.home_content p {
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 0 0 40px 0;
    font-weight: 200;
    text-align: left;
}

.home_content a {
    font-size: 16px;
}

.service-content a {
    font-size: 14px;
}

.home_content a,
.service-content a {
    background-color: var(--main-color);
    color: white;
    padding: 7px 20px;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
}

.home_content .work {
    background: transparent;
    border: 1px solid var(--main-color);
    margin: 0 0 0 20px;
}

.home_content a:hover,
.service-content a:hover {
    letter-spacing: 2px;
    box-shadow: 0 0 10px var(--main-color);
    transition: all .40s ease;
}

.name h2 {
    padding: 0 0 10px;
    font-size: 45px;
    line-height: 0.5;
}

.passion h4 {
    font-size: 25px;
    color: var(--bg-color);
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #ffab01;
    position: relative;
}

.passion h3::before {
    color: var(--main-color);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    -webkit-text-stroke: 0px #ffab01;
    border-right: 1px solid white;
    animation: animate 9s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    100% {
        width: 100%;
    }

}

.grid-container {
    display: grid;
    gap: 10%;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 5% 10%;

}

.my_img img {
    /* border-radius: 500px; */
    box-shadow: 0px 10px 10px #ffab01;
}

.about_me p {
    padding: 40px 0 0 0;
}

.about_me ul li {
    padding: 10px 0 0 0;
    color: var(--main-color);
    letter-spacing: 1.5px;
}

.height {
    height: 5px;
    border: 2px dotted var(--main-color);
    width: 15%;
}

.services, .portfolio {
    background-color: var(--second-bg-color);
    padding: 5% 10%;
    text-align: center;
}

.services .height,
.skills_section .height, .portfolio .height{
    margin: auto;
    width: 10%;
}

.grid-service {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    padding: 5% 0 0 0;
}

.grid-service-box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.grid-service-box {
    text-align: center;
    background-color: var(--bg-color);
    padding: 10% 5%;
    border-radius: 20px;
}

.service-content .service-icon {
    width: 40%;
    background-color: var(--second-bg-color);
    color: var(--main-color);
    font-size: 48px;
    padding: 28px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    outline: 4px solid var(--second-bg-color);
    box-shadow: 0 0 10px #ffab01;
}

.service-content h3 {
    padding: 20px 0 0 0;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
}

.service-content p {
    font-size: 16px;
    padding: 0 0 20px 0;
}

.skills_section {
    padding: 5% 10%;
}

.skills_section .main-text {
    text-align: center;
}

.skill_content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    padding: 5% 0;
    text-align: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5px 0;
}

.info-bar {
    padding: 2% 2%;

}
.info-bar p{
    font-size: 16px;
    font-weight: 300;
}

.info-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--second-bg-color);
    border-radius: 20px;
    position: relative;
}

.info-bar .bar span {

    height: 100%;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 20px;
    position: absolute;
    left: 0;
}

.html {
    width: 89%;
    animation: html 2s;
}

.css {
    width: 72%;
    animation: css 3s;
}

.java {
    width: 65%;
    animation: java 4s;
}

.jquery {
    width: 70%;
    animation: jquery 5s;
}

.figma {
    width: 80%;
    animation: figma 6s;
}
.wordpress{
    width: 70%;
    animation: wordpress s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }

}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 72%;
    }

}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }

}

@keyframes jquery {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}

@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }

}
@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }

}